.subheadline {
  font-family: "canada-type-gibson";
  font-style: normal;
  font-weight: 300;
  font-style: normal;
  font-size: 12pt;
  line-height: 15.6pt;
}

.subheadline-bold {
  font-family: "canada-type-gibson";
  font-style: normal;
  font-weight: 500;
  font-size: 12pt;
  line-height: 15.6pt;
}
.subheadline-bold.smaller {
  font-size: 10pt;
}

.sectionheadline {
  font-family: "canada-type-gibson";
  font-style: normal;
  font-weight: 300;
  font-style: normal;
  font-size: 12pt;
  line-height: 14.4pt;
}

.sectionheadline-bold {
  font-family: "canada-type-gibson";
  font-style: normal;
  font-weight: 500;
  font-size: 12pt;
  line-height: 14.4pt;
}

.sectionheadline-small {
  font-family: "canada-type-gibson";
  font-style: normal;
  font-weight: 500;
  font-size: 8pt;
  line-height: 12pt;
}

.copy {
  font-family: "canada-type-gibson";
  font-style: normal;
  font-weight: 300;
  font-style: normal;
  font-size: 9pt;
  line-height: 12pt;
}

.copy-bold {
  font-family: "canada-type-gibson";
  font-style: normal;
  font-weight: 500;
  font-size: 9pt;
  line-height: 12pt;
}

.copy-small {
  font-family: "canada-type-gibson";
  font-style: normal;
  font-weight: 300;
  font-style: normal;
  font-size: 7pt;
  line-height: 8.4pt;
}

.copy-small-bold {
  font-family: "canada-type-gibson";
  font-style: normal;
  font-weight: 500;
  font-size: 7pt;
  line-height: 8.4pt;
}

.mg-headline {
  font-family: "canada-type-gibson";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10pt;
  line-height: 12pt;
}
.mg-headline.inverted {
  background-color: gray;
  color: white;
  line-height: 100%;
  padding: 0.8mm 0 0.8mm 1.6mm !important;
}

.mg-small {
  font-family: "canada-type-gibson";
  font-style: normal;
  font-weight: 700;
  font-size: 7pt;
  line-height: 12pt;
}

.amtstitel {
  font-family: "canada-type-gibson";
  font-style: normal;
  font-weight: 300;
  font-style: normal;
  font-size: 7pt;
  line-height: 8.4pt;
  font-size: 6pt;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.border-solid {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-style: solid !important;
}

.border-dashed {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-style: dashed !important;
}

.border-dotted {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-style: dotted !important;
}

.border-trbl,
.border-all {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-width: 0.5pt;
}

.border-t,
.border-tr,
.border-trb,
.border-trbl,
.border-tb,
.border-tbl,
.border-trl,
.border-trb,
.border-tl {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-top-width: 0.5pt !important;
}

.border-r,
.border-tr,
.border-trb,
.border-trbl,
.border-rbl,
.border-rb,
.border-rbl,
.border-rl {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-right-width: 0.5pt !important;
}

.border-b,
.border-rb,
.border-trb,
.border-tb,
.border-tbl,
.border-bl,
.border-rbl,
.border-trbl {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-bottom-width: 0.5pt !important;
}

.border-l,
.border-tl,
.border-rl,
.border-bl,
.border-tbl,
.border-trl,
.border-rbl,
.border-trbl {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-left-width: 0.5pt !important;
}

.border-t-thick,
.border-tr-thick,
.border-trb-thick,
.border-trbl-thick,
.border-tb-thick,
.border-tbl-thick,
.border-trl-thick,
.border-trb-thick,
.border-tl-thick {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-top-width: 1.5pt !important;
}

.border-r-thick,
.border-tr-thick,
.border-trb-thick,
.border-trbl-thick,
.border-rbl-thick,
.border-rb-thick,
.border-rbl-thick,
.border-rl-thick {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-right-width: 1.5pt !important;
}

.border-b-thick,
.border-rb-thick,
.border-trb-thick,
.border-tb-thick,
.border-tbl-thick,
.border-bl-thick,
.border-rbl-thick,
.border-trbl-thick {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-bottom-width: 1.5pt !important;
}

.border-l-thick,
.border-tl-thick,
.border-rl-thick,
.border-bl-thick,
.border-tbl-thick,
.border-trl-thick,
.border-rbl-thick,
.border-trbl-thick {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-left-width: 1.5pt !important;
}

.margin-t {
  margin-top: 0.5mm;
}

.margin-r {
  margin-right: 0.5mm;
}

.margin-r-x2 {
  margin-right: 1.6mm;
}

.margin-r-x3 {
  margin-right: 2.4mm;
}

.margin-r-x4 {
  margin-right: 3.2mm;
}

.margin-l {
  margin-left: 0.5mm;
}

.margin-l-x2 {
  margin-left: 1.6mm;
}

.margin-l-x3 {
  margin-left: 2.4mm;
}

.margin-l-x4 {
  margin-left: 3.2mm;
}

.margin-b {
  margin-bottom: 0.5mm;
}

.nowrap,
.no-wrap {
  white-space: nowrap;
}

/* Text wrapping allowed, linebreaks from source code are also considered
 * -> New line in source code = new line in document
 */
.wrap-pre-line {
  white-space: pre-line;
}

h1.underlined,
h2.underlined,
h3.underlined,
h4.underlined,
h5.underlined,
h6.underlined,
span.underlined,
p.underlined,
a.underlined {
  text-decoration: underline;
}

.mg-underline {
  width: 100%;
  height: 2.5pt;
  background-color: black;
}

.text-align-l {
  text-align: left !important;
}

.text-align-r {
  text-align: right !important;
}

.text-align-c {
  text-align: center !important;
}

.v-align-top {
  display: inline;
  vertical-align: top;
}

.v-align-middle {
  display: inline;
  vertical-align: middle;
}

.v-align-bottom {
  display: inline;
  vertical-align: bottom;
}

.v-align-baseline {
  display: inline;
  vertical-align: baseline;
}

.v-align-text-top {
  display: inline;
  vertical-align: text-top;
}

.v-align-text-bottom {
  display: inline;
  vertical-align: text-bottom;
}

.inline-block {
  float: none !important;
  display: inline-block !important;
}

.inline {
  display: inline !important;
}

.block {
  display: block !important;
}

.text-box {
  display: inline-block;
  overflow: hidden;
  width: 100%;
}
.text-box-no-wrap {
  white-space: nowrap;
}
.text-box p,
.text-box a,
.text-box span {
  line-height: 100%;
}

.margin-b {
  margin-bottom: 0.8mm !important;
}

.margin-b-x2 {
  margin-bottom: 1.6mm !important;
}

.margin-b-x3 {
  margin-bottom: 3.2mm !important;
}

.margin-b-x4 {
  margin-bottom: 4mm !important;
}

.padding-b {
  padding-bottom: 0.8mm !important;
}

.padding-b-x2 {
  padding-bottom: 1.6mm !important;
}

.padding-b-x3 {
  padding-bottom: 3.2mm !important;
}

.padding-b-x4 {
  padding-bottom: 4mm !important;
}

.margin-t {
  margin-top: 0.8mm !important;
}

.margin-t-x2 {
  margin-top: 1.6mm !important;
}

.margin-t-x3 {
  margin-top: 2.4mm !important;
}

.margin-t-x4 {
  margin-top: 4mm !important;
}

.padding-t {
  padding-top: 0.8mm !important;
}

.padding-t-x2 {
  padding-top: 1.6mm !important;
}

.padding-t-x3 {
  padding-top: 2.4mm !important;
}

.padding-t-x4 {
  padding-top: 4mm !important;
}

.padding-r {
  padding-right: 0.8mm !important;
}

.padding-r-x2 {
  padding-right: 1.6mm !important;
}

.padding-r-x3 {
  padding-right: 3.2mm !important;
}

.padding-r-x4 {
  padding-right: 4mm !important;
}

.padding-l {
  padding-left: 0.8mm !important;
}

.padding-l-x2 {
  padding-left: 1.6mm !important;
}

.padding-l-x3 {
  padding-left: 3.2mm !important;
}

.padding-l-x4 {
  padding-left: 4mm !important;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.line-height-normal {
  line-height: normal !important;
}

.line-height-100 {
  line-height: 100%;
}

.position-relative {
  position: relative;
}

.pin-bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 20mm;
}

.line {
  display: block;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}
.line div[class^=span-],
.line p[class^=span-],
.line span[class^=span-],
.line li[class^=span-],
.line a[class^=span-] {
  display: inline-block;
  vertical-align: top;
}

.display-table {
  display: table !important;
}

.display-table-cell {
  display: table-cell !important;
}

.invisible {
  display: none !important;
}

.line-height-0 {
  line-height: 0;
}

.page-break {
  page-break-after: always;
}
.no-page-break-inside {
  page-break-inside: avoid;
}

.wt-grey {
  background: rgba(74, 74, 74, 0.15);
}

.wt-table table th,
.wt-table table td {
  padding: 0.45mm 0.9mm;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.border-solid {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-style: solid !important;
}

.border-dashed {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-style: dashed !important;
}

.border-dotted {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-style: dotted !important;
}

.border-trbl,
.border-all {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-width: 0.5pt;
}

.border-t,
.border-tr,
.border-trb,
.border-trbl,
.border-tb,
.border-tbl,
.border-trl,
.border-trb,
.border-tl {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-top-width: 0.5pt !important;
}

.border-r,
.border-tr,
.border-trb,
.border-trbl,
.border-rbl,
.border-rb,
.border-rbl,
.border-rl {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-right-width: 0.5pt !important;
}

.border-b,
.border-rb,
.border-trb,
.border-tb,
.border-tbl,
.border-bl,
.border-rbl,
.border-trbl {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-bottom-width: 0.5pt !important;
}

.border-l,
.border-tl,
.border-rl,
.border-bl,
.border-tbl,
.border-trl,
.border-rbl,
.border-trbl {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-left-width: 0.5pt !important;
}

.border-t-thick,
.border-tr-thick,
.border-trb-thick,
.border-trbl-thick,
.border-tb-thick,
.border-tbl-thick,
.border-trl-thick,
.border-trb-thick,
.border-tl-thick {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-top-width: 1.5pt !important;
}

.border-r-thick,
.border-tr-thick,
.border-trb-thick,
.border-trbl-thick,
.border-rbl-thick,
.border-rb-thick,
.border-rbl-thick,
.border-rl-thick {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-right-width: 1.5pt !important;
}

.border-b-thick,
.border-rb-thick,
.border-trb-thick,
.border-tb-thick,
.border-tbl-thick,
.border-bl-thick,
.border-rbl-thick,
.border-trbl-thick {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-bottom-width: 1.5pt !important;
}

.border-l-thick,
.border-tl-thick,
.border-rl-thick,
.border-bl-thick,
.border-tbl-thick,
.border-trl-thick,
.border-rbl-thick,
.border-trbl-thick {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-left-width: 1.5pt !important;
}

.margin-t {
  margin-top: 0.5mm;
}

.margin-r {
  margin-right: 0.5mm;
}

.margin-r-x2 {
  margin-right: 1.6mm;
}

.margin-r-x3 {
  margin-right: 2.4mm;
}

.margin-r-x4 {
  margin-right: 3.2mm;
}

.margin-l {
  margin-left: 0.5mm;
}

.margin-l-x2 {
  margin-left: 1.6mm;
}

.margin-l-x3 {
  margin-left: 2.4mm;
}

.margin-l-x4 {
  margin-left: 3.2mm;
}

.margin-b {
  margin-bottom: 0.5mm;
}

.nowrap,
.no-wrap {
  white-space: nowrap;
}

/* Text wrapping allowed, linebreaks from source code are also considered
 * -> New line in source code = new line in document
 */
.wrap-pre-line {
  white-space: pre-line;
}

h1.underlined,
h2.underlined,
h3.underlined,
h4.underlined,
h5.underlined,
h6.underlined,
span.underlined,
p.underlined,
a.underlined {
  text-decoration: underline;
}

.mg-underline {
  width: 100%;
  height: 2.5pt;
  background-color: black;
}

.text-align-l {
  text-align: left !important;
}

.text-align-r {
  text-align: right !important;
}

.text-align-c {
  text-align: center !important;
}

.v-align-top {
  display: inline;
  vertical-align: top;
}

.v-align-middle {
  display: inline;
  vertical-align: middle;
}

.v-align-bottom {
  display: inline;
  vertical-align: bottom;
}

.v-align-baseline {
  display: inline;
  vertical-align: baseline;
}

.v-align-text-top {
  display: inline;
  vertical-align: text-top;
}

.v-align-text-bottom {
  display: inline;
  vertical-align: text-bottom;
}

.inline-block {
  float: none !important;
  display: inline-block !important;
}

.inline {
  display: inline !important;
}

.block {
  display: block !important;
}

.text-box {
  display: inline-block;
  overflow: hidden;
  width: 100%;
}
.text-box-no-wrap {
  white-space: nowrap;
}
.text-box p,
.text-box a,
.text-box span {
  line-height: 100%;
}

.margin-b {
  margin-bottom: 0.8mm !important;
}

.margin-b-x2 {
  margin-bottom: 1.6mm !important;
}

.margin-b-x3 {
  margin-bottom: 3.2mm !important;
}

.margin-b-x4 {
  margin-bottom: 4mm !important;
}

.padding-b {
  padding-bottom: 0.8mm !important;
}

.padding-b-x2 {
  padding-bottom: 1.6mm !important;
}

.padding-b-x3 {
  padding-bottom: 3.2mm !important;
}

.padding-b-x4 {
  padding-bottom: 4mm !important;
}

.margin-t {
  margin-top: 0.8mm !important;
}

.margin-t-x2 {
  margin-top: 1.6mm !important;
}

.margin-t-x3 {
  margin-top: 2.4mm !important;
}

.margin-t-x4 {
  margin-top: 4mm !important;
}

.padding-t {
  padding-top: 0.8mm !important;
}

.padding-t-x2 {
  padding-top: 1.6mm !important;
}

.padding-t-x3 {
  padding-top: 2.4mm !important;
}

.padding-t-x4 {
  padding-top: 4mm !important;
}

.padding-r {
  padding-right: 0.8mm !important;
}

.padding-r-x2 {
  padding-right: 1.6mm !important;
}

.padding-r-x3 {
  padding-right: 3.2mm !important;
}

.padding-r-x4 {
  padding-right: 4mm !important;
}

.padding-l {
  padding-left: 0.8mm !important;
}

.padding-l-x2 {
  padding-left: 1.6mm !important;
}

.padding-l-x3 {
  padding-left: 3.2mm !important;
}

.padding-l-x4 {
  padding-left: 4mm !important;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.line-height-normal {
  line-height: normal !important;
}

.line-height-100 {
  line-height: 100%;
}

.position-relative {
  position: relative;
}

.pin-bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 20mm;
}

.line {
  display: block;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}
.line div[class^=span-],
.line p[class^=span-],
.line span[class^=span-],
.line li[class^=span-],
.line a[class^=span-] {
  display: inline-block;
  vertical-align: top;
}

.display-table {
  display: table !important;
}

.display-table-cell {
  display: table-cell !important;
}

.invisible {
  display: none !important;
}

.line-height-0 {
  line-height: 0;
}

.page-break {
  page-break-after: always;
}
.no-page-break-inside {
  page-break-inside: avoid;
}

.wt-grey {
  background: rgba(74, 74, 74, 0.15);
}

.wt-table table th,
.wt-table table td {
  padding: 0.45mm 0.9mm;
}

* {
  margin: 0;
  padding: 0;
  font-weight: unset;
  z-index: 0;
}

.cols {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 22mm;
  right: 10mm;
  width: 178mm;
  height: 100%;
}
.cols .col {
  display: block;
  opacity: 0.1;
  background: orange;
  width: 10.25mm;
  height: 100%;
  float: left;
  margin-right: 5mm;
}

.page {
  padding: 5.5mm 10mm 15.5mm 22mm;
  overflow: visible;
  position: relative;
}
.page .header {
  width: 100%;
  height: 42.5mm;
}
.page .header .title-wrapper {
  position: relative;
  height: 24.5mm;
  margin-bottom: 2.4mm;
}
.page .header .title-wrapper h1 {
  font-family: "canada-type-gibson";
  font-style: normal;
  font-weight: 500;
  font-size: 22pt;
  line-height: 24pt;
  line-height: 80%;
  position: absolute;
  bottom: -1mm;
  width: 132.25mm;
  overflow: hidden;
}
.page .header .title-wrapper h1 span.smaller {
  font-size: 18pt;
}
.page .header .title-wrapper img {
  float: right;
  width: 34mm;
}
.page .header .height-check {
  width: 100%;
  height: 9mm;
}
.page .content {
  height: 224mm;
  width: 178mm;
}
.page .content .span-1 {
  width: 10.25mm;
}
.page .content .span-1.extended {
  width: 15.25mm;
}
.page .content .span-1.short {
  width: 5.25mm;
}
.page .content .span-2 {
  width: 25.5mm;
}
.page .content .span-2.extended {
  width: 30.5mm;
}
.page .content .span-3 {
  width: 40.75mm;
}
.page .content .span-3.extended {
  width: 45.75mm;
}
.page .content .span-4 {
  width: 56mm;
}
.page .content .span-4.extended {
  width: 61mm;
}
.page .content .span-5 {
  width: 71.25mm;
}
.page .content .span-5.extended {
  width: 76.25mm;
}
.page .content .span-6 {
  width: 86.5mm;
}
.page .content .span-6.extended {
  width: 91.5mm;
}
.page .content .span-7 {
  width: 101.75mm;
}
.page .content .span-7.extended {
  width: 106.75mm;
}
.page .content .span-8 {
  width: 117mm;
}
.page .content .span-8.extended {
  width: 122mm;
}
.page .content .span-9 {
  width: 132.25mm;
}
.page .content .span-9.extended {
  width: 137.25mm;
}
.page .content .span-10 {
  width: 147.5mm;
}
.page .content .span-10.extended {
  width: 152.5mm;
}
.page .content .span-11 {
  width: 162.75mm;
}
.page .content .span-11.extended {
  width: 167.75mm;
}
.page .content .span-12 {
  width: 178mm;
}
.page .content .span-12.extended {
  width: 183mm;
}
.page .content .row {
  width: 100%;
  height: initial;
  background: lightcoral;
}
.page .content .space-h {
  display: inline-block;
  height: 1px;
  width: 5mm;
  margin: 0;
}
.page .content .spaced-container {
  display: inline-block;
  border-bottom: 0.5pt solid black;
  padding: 0.8mm 0;
}
.page .content .space-bottom-1 {
  margin-bottom: 1.8mm;
}
.page .content .space-bottom-2 {
  margin-bottom: 3.6mm;
}
.page .content .space-bottom-3 {
  margin-bottom: 5.4mm;
}
.page .content .space-bottom-4 {
  margin-bottom: 7.2mm;
}
.page .content .space-bottom-5 {
  margin-bottom: 9mm;
}
.page .content .space-bottom-6 {
  margin-bottom: 10.8mm;
}
.page .content .spaced-elements * {
  margin-bottom: 0.4mm;
}
.page input {
  width: 2.75mm;
  height: 2.75mm;
}
.page .pagination {
  background-color: lawngreen;
  height: 15mm;
}

.template-header {
  height: 22mm;
  overflow: hidden;
  background: greenyellow;
}
.template-header .header-title {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 148mm;
}
.template-header .header-title h1 {
  font-family: "canada-type-gibson";
  font-style: normal;
  font-weight: 500;
  line-height: 7.33mm;
  position: absolute;
  bottom: 0;
}
.template-header img {
  width: 29.71mm;
  float: right;
}

/* To show colors add ?dev-colors to the URL
 * Example: 127.0.0.1:8000/.../...?dev-colors
 * Example: 127.0.0.1:8000/.../...?tagA&tagB&dev-colors
 */
.show-colors .red {
  background: red;
}
.show-colors .orange {
  background: rgb(255, 166, 0);
}
.show-colors .yellow {
  background: yellow;
}
.show-colors .lime {
  background: lime;
}
.show-colors .green {
  background: green;
}
.show-colors .cyan {
  background: cyan;
}
.show-colors .blue {
  background: blue;
}

.left {
  float: left;
}

.right {
  float: right;
  margin-right: 0 !important;
}

.col-layout {
  display: inline-block;
  width: 100%;
  height: auto;
}
.col-layout .col-50 {
  display: inline;
  width: 50%;
}
.col-layout .col-50 .col-25 {
  display: inline;
  width: 25%;
}
.col-layout .col-50 .col-75 {
  display: inline;
  width: 75%;
}

table {
  border-spacing: 0;
}
table tr {
  position: relative;
}
table tr th,
table tr td {
  padding: 0.9mm 1.8mm;
  line-height: 100%;
  text-align: center;
}
table tr th {
  vertical-align: middle !important;
}
table tr td .cell-label {
  position: absolute;
  bottom: 100%;
  margin-bottom: 1.8mm;
  text-align: left;
}

.vertical-table {
  transform: rotate(-90deg) translateY(100%) translateX(-59mm);
  transform-origin: bottom left;
  border-spacing: 0;
  padding: 0;
  height: 178mm;
  /* A4 width */
  /* A4 height */
}
.vertical-table .table-cell {
  padding: 0;
  margin: 0;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
}
.vertical-table .table-cell p {
  line-height: 100%;
}

.x-checkbox {
  width: 2.575mm;
  height: 2.575mm;
  border: 0.5pt solid #4a4a4a;
  margin-right: 1mm;
}
.x-checkbox .checkmark {
  display: none;
  width: 100%;
  height: 100%;
}
.x-checkbox .checkmark img {
  display: block;
  color: black;
}
.x-checkbox.crossed .checkmark {
  display: block;
  transform: translate(17.6665%, 17.6665%) scale(1.8);
}
.x-checkbox.checked .checkmark {
  display: block;
  position: relative;
  transform: translateX(33.33%) scale(1.333);
}

.x-rounded-container {
  border: 1pt solid black;
  border-radius: 4pt;
  text-align: center;
  padding: 1.6mm;
}
.x-rounded-container * {
  padding: 0;
  margin: 0;
  line-height: 100%;
}

.x-barcode table {
  width: 100%;
  height: 9mm;
  overflow: hidden;
}
.x-barcode table tr {
  width: 100%;
}
.x-barcode table tr td {
  margin: 0;
  padding: 0;
  opacity: 0.1;
}
.x-barcode table tr td.x-barcode-corner {
  width: 2mm;
  height: 2mm;
  opacity: 1;
}
.x-barcode .constrain {
  display: block;
  background-color: transparent;
  height: 4.7666666667mm;
  padding: 0 2mm;
}
.x-barcode .constrain * {
  width: 100%;
}

/*
    styles <x-handwritten-line>

    *--| USAGE |----------------------------------------*
    |   <x-handwritten-line>Label:</x-handwritten-line> |
    *---------------------------------------------------*

    -> "Label:" is adressed by :first-child selector

*/
.x-handwritten-line {
  display: table;
  width: 100%;
  table-layout: auto;
}
.x-handwritten-line * {
  width: 100%;
  display: table-cell;
  border-bottom: 0.5pt solid black;
  height: 6.2mm;
}
.x-handwritten-line :first-child {
  white-space: nowrap;
  width: auto;
  padding-right: 0.8mm;
  border-bottom: unset;
}

.x-document-upload {
  display: table;
  width: 100%;
  table-layout: auto;
}
.x-document-upload * {
  width: auto;
  display: table-cell;
  border-bottom: unset;
}
.x-document-upload :first-child {
  width: 100%;
  padding-right: 0.8mm;
  border-bottom: 0.5pt solid black;
}

/*# sourceMappingURL=app.css.map */
